$theme-dark: #4c956c;
$theme-light: #fefee3;
$theme-light-text: #d68c45;
$theme-dark-text: #11271b;

.chewy-regular {
    font-family: "Chewy", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  $text-font: 'Chewy';