@import "_library.scss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .itemContainer {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        width: 90vw;
        height: auto;
        gap: 2rem;

        .item {
            width: 15rem;
            height: 25rem;
            background: rgb(238, 238, 238);
            border-radius: 0.4rem;
            border: 1px solid black;
            box-shadow: 1px 1px 0.2rem black;
            overflow: hidden;
            transition: all 0.3s;
            font-family: $text-font;

            display: flex;
            flex-direction: column;
            
            .itemImage {
                width: 100%;
                height: 60%;
                background: brown;
                border-bottom: 1px solid black;
                position: relative;

                .itemHeart {
                    position: absolute;
                    top:0;
                    right:0;
                    margin: 0.5rem;
                    border:2px solid white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }

            .itemTitle {
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;

            }

            .itemDescription {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                align-content: center;
                text-align: center;
                font-size: .8rem;
            }

            .itemPrice {
                width: fit-content;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                display: flex;
                justify-content: flex-start;
                text-align: center;
                font-weight: bold;
                letter-spacing: .1rem;
                margin-left: 0.5rem;
            }
        }

        .item:hover {
            box-shadow: 1px 1px 2rem black;
            transition: all 0.3s;
        }
    }

    .itemModal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(238, 238, 238);
        z-index: 999;
        width: 80vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        font-family: $text-font;

        .modalImage{
            width: 100%;
            height: 60%;
            background: brown;
            border-bottom: 1px solid black;

            .modalClose{
                position: absolute;
                top:0;
                right:0;
                margin: 0.5rem;
                border:2px solid white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                cursor: pointer;
            }

            .modalHeart{
                position: absolute;
                top:0;
                right:0;
                margin: 0.5rem;
                margin-top: 2.5rem;
                border:2px solid white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        .modalTitle{
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
        }

        .modalDescription{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
        }

        .modalPriceContainer{
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            display: flex;
            justify-content: space-around;
            text-align: center;
            font-weight: bold;
            letter-spacing: .1rem;
            
            .modalPrice{
                width: 25%;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.8rem;
                font-weight: bold;
                letter-spacing: .1rem;
            }


            button{
                background: rgb(146, 146, 146);
                width: 25%;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.8rem;
                font-weight: bold;
                letter-spacing: .1rem;
                cursor: pointer;
                border-radius: 0.5rem;
            }
        }
    }
}
