@import "_library.scss";

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #9b9b9b;
    font-family: $font;

    .container {
        position: fixed;
        inset: 0;
        width: 70%;
        height: 70%;
        margin: auto;

        display: flex;
        flex-direction: row;

        .productImageContainerSub {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: -2;

            .productImage {
                height: 80%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                background: #ffffff;
                box-shadow: 1px 1px 0.25rem black;

                .moreImages{
                    height: 10%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap:.5rem;

                    .image{
                        width: 1rem;
                        height: 1rem;
                        border:1px solid black;
                        border-radius: 50%;
                    }

                    .image:nth-child(1){
                        background: black;
                    }
                }
            }
        }

        .productInformationContainerSub {
            height: 100%;
            width: 50%;
            background: rgb(252, 252, 252);
            z-index: -1;
            box-shadow: 1px 1px 2rem black;

            .productSub {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .productInformationContainer {
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    gap: 1rem;
                    padding: 2rem;

                    .sub {
                        width: 100%;
                        height: fit-content;
                    }

                    .productTitle {
                        font-size: 4rem;
                        font-weight: 800;
                        letter-spacing: 0.3rem;
                    }

                    .productInfo {
                        font-size: 2rem;
                    }

                    .sectionTitle {
                        font-size: 1.8rem;
                    }

                    .sectionContext {
                        font-size: 1rem;

                        .sectionContextList {
                            display: flex;
                            justify-content: space-between;
                            gap: 1rem;

                            .size {
                                font-weight: 800;
                                text-align: center;
                                width: 2rem;
                                height: 2rem;
                                border:1px solid black;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                            }

                            button{
                                width: 2rem;
                                height: 2rem;
                                outline: none;
                                border:none;
                                border-radius: 50%;
                            }

                            button:nth-child(1){
                                background: black;
                            }
                            button:nth-child(2){
                                background: rgb(35, 35, 139);
                            }
                            button:nth-child(3){
                                background: orange;
                            }
                            button:nth-child(4){
                                background: pink;
                            }
                            button:nth-child(5){
                                background: yellow;
                            }

                            .buyButtonContainer{
                                width: 12rem;
                                height: 3rem;
                                text-align: center;
                                border-radius: 2rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: rgb(255, 174, 0);
                                font-weight: 800;
                                font-size: 1.2rem;
                            }

                            .priceContainer{
                                width: 12rem;
                                height: 3rem;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border:1px solid  black;
                                border-radius: 2rem;
                                font-weight: 800;
                                font-size: 1.2rem;
                                background: #e0e0e0;
                            }
                        }
                    }


                }
            }
        }
    }
}
