@import "./root";

.strong { font-weight: 700; }
.huge   { font-size: var(--fs1); }
.big    { font-size: var(--fs2); }
.normal { font-size: var(--fs3); }
.small  { font-size: var(--fs4); }

h1{ @extend .huge };
h2{ @extend .big };
h3{ @extend .normal };
h4{ @extend .small };

.mainContainer.dark
{
    .text{ color: red;  @include transition(); }
    .accent{ color: green; @include transition(); }
}
.mainContainer.light
{
    .text{ color: blue; @include transition(); }
    .accent{ color: rgb(221, 205, 160); @include transition(); }
}
