:root
{
    --fs1: 2rem;
    --fs2: 1.5rem;
    --fs3: 1rem;
    --fs4: .8rem;
}

@media only screen and (max-width: 600px) {
    :root
    {
        --fs1: 2rem;
        --fs2: 1.5rem;
        --fs3: 1rem;
        --fs4: .8rem;
    }
}

$transitionDelay: .4s;
$transitionEffect: ease-in-out;
