//Fonts
$mainFont: "Source Code Pro";

// Color Themes
$accent: #ffb31a;
$danger: #f53737;
$success: #31c149;
$imgSkeleton: #3c3c3c;
//Dark
$darkBody: #1f2124;
$darkContainer: #22262b;
$darkInput: #282b2f;
//Light
$lightBody: #f6f6f6;
$lightContainer: #ffffff;
$lightInput: #f6f6f6;

