:root {
  --body: #1f2124;
  --container: #22262b;
  --input: #282b2f;
  --color: #ffffff;
  --defaultColor: #1868db;
  --accent: orange;
  --borderRadius: .6rem;
  --padGap: .6rem;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(15, 15, 15);
}

button {
  background: var(--accent);
  color: var(--color);
  border: none;
  outline: none;
  padding: var(--padGap);
  border-radius: var(--borderRadius);
  cursor: pointer;
}
button:focus {
  border: none;
  outline: none;
}

.field {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(1, 1fr);
  height: 100%;
}
.field > .tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.field > .tools > .buttons {
  display: flex;
  gap: var(--padGap);
}
.field > .tools > .colors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  gap: var(--padGap);
}
.field > .tools > .colors > .colorfield {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.field > .tools > .rest-tools > .color-picker {
  width: 100%;
}
.field > .tools > .rest-tools > .pen-range {
  margin-top: 20px;
}
.field > .canvasContainer {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.field > .canvasContainer > canvas {
  border-radius: var(--borderRadius);
}
