@import "_Variables.scss";

html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: 16px;
    background-color: #6b6b6b;
    @include flex(column, flex-start, center);

    .nav-bar {
        @include flex(row, space-between, center);
        background: $nav-bar-color;
        width: 100vw;
        height: 50px;
        border-radius: 1rem;

        .nav-bar-brand {
            padding: 1rem;
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 0.5rem;
        }

        .nav-bar-search{
            @include flex(row, center, center);
            margin-right: 1rem;
            width: 20rem;
            height: 2rem;
            background: #444444;
            border: 1px solid #333333;
            border-radius: 0.5rem;

            .search-bar{
                width: 20rem;
                height: 100%;
                background: transparent;
                outline: none;
                border-radius: 1rem;
                box-shadow: none;
                border-color: transparent;
            }

            input {
                width: 20rem;
                height: 100%;
                background: transparent;
                outline: none;
                border-radius: 1rem;
                box-shadow: none;
                border-color: transparent;
            }
        }

        .nav-bar-items {
            @include flex(row, center, center);

            .circular-item {
                margin-right: 1rem;
                width: 2.5rem;
                height: 2.5rem;
                background: #444444;
                border: 1px solid #333333;
                border-radius: 50%;
                cursor: pointer;
            }

            .pill-item {
                margin-right: 1rem;
                padding: 0.5rem 1rem;
                background: #444444;
                border: 1px solid #333333;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }

    .container{
        @include flex(column, center, center);
        width: 80%;
        margin: 2rem;

        .body-item{
            @include flex(column, flex-start, center);
            width:8rem;
            height:10rem;
            border: 1px solid #333333;
            border-radius: 1rem;

            .item-title{
                width: 100%;
                text-align: center;
                font-size: 2rem;
                font-weight: 600;
                margin-top: 0.5rem;
                border-bottom: 1px solid #333333;
            }

            .item-content{
                @include flex(column, center, center);
                width: 100%;
                height: 100%;
                text-align: center;
                font-size: 1rem;
                margin-top: 0.5rem;
            }
        }

        
    }

    .form{
        @include flex(column, space-between, center);
        width: 30rem;
        height: 20rem;
        background: #444444;
        border: 1px solid #333333;
        border-radius: 1rem;
        position: fixed;
        margin: 5rem;
        border-bottom: 1px solid #333333;
        box-shadow: 1px 1px 1rem #000000;

        // .form-close-button{
        //     width: 2rem;
        //     height: 2rem;
        //     background: #571919;
        //     border: 1px solid #333333;
        //     border-radius: 50%;
        //     position: relative;
        //     top: 0.5rem;
        //     left: 13.25rem;
        //     cursor: pointer;
        // }

        .form-close-button{
            width: 2rem;
            height: 2rem;
            background: #571919;
            border: 1px solid #333333;
            border-radius: 50%;
            position: absolute;
            top:0;
            right:0;
            margin: 0.5rem;
            cursor: pointer;
        }

        .form-title{
            display: flex;
            justify-content: center;
            align-content: flex-start;
            height: 5rem;
            font-size: 2.5rem;
            font-weight: 700;
            margin-top: 1rem;
            letter-spacing: 0.25rem;
        }

        form{
            @include flex(column, flex-start, center);
            width: 80%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            flex-basis: 80%;

            .form-input{
                width: 80%;
                height: 2rem;
                margin-top: 1rem;
                background: #333333;
                border: 1px solid #333333;
                border-radius: 0.5rem;
                outline: none;
                box-shadow: none;
                border-color: transparent;
            }

            .form-button{
                width: 80%;
                height: 2rem;
                margin-top: 1rem;
                background: #571919;
                border: 1px solid #333333;
                border-radius: 0.5rem;
                outline: none;
                box-shadow: none;
                border-color: transparent;
                cursor: pointer;
            }
        }
    }
}
