<div class="mainContainer">
  <!--<div class="headerContainer">
      <div>aasd</div>
      <div>bbsd</div>
  </div>-->
  <div class="bodyContainer">
    <app-notifications></app-notifications>
    
      <div class="projectsContainer">
         <div class="projectsLst">
          <div [ngClass]="[project.selected? 'project active':'project']" (click)="loadProject(project)" *ngFor="let project of projects()">
            <div class="projectHead">Proj-{{project.id}}</div>
            <div class="projectBody">{{project.name}}</div>
          </div>

         </div>
         <button (click)="addNewProject()">Add Project</button> 
      </div>
      <div class="projectTasks" *ngIf="tasks().length > 0">
          <div class="projectTaskContainer" *ngFor="let status of statuses"  (dragover)="onDragOver($event)" (drop)="onDrop($event, status)">
            <app-task-item [task]="task"  *ngFor="let task of filterData(status)" (dragstart)="onDrag(task)"></app-task-item>
          </div>
      </div>
  </div>
  <div class="addNewTask" (click)="addNewTask()" *ngIf="tasks().length > 0"></div>
</div>